@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;424;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    background-color: #10101D;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    overflow-x: hidden;
  }
  
  a {
    cursor: pointer;
    text-decoration: none;
  }
  .navbar a{
    color: #9894A6;
    font-size: 18px;
    font-weight: 500;
    position: relative;
  }
  .menu a{
    margin-right: 3rem;
  }
  .navbar,.herowrapper{
    max-width: 85%;
    margin:auto;
  }
  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.4rem;
  }
  .home{
      color: #9A77EC !important;
  }
  .dashboard{
    color:  #ECE4F9 !important;
  }
  .herowrapper{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
  }
  .topleft{
    color: #9A77EC;
    font-weight: 600;
    font-size: 18px;
  }
  .heroleft{
    padding: 3rem 18rem 0rem 10rem;
  }
  .heroright img{
    width: 75%;
  }
  .heroright{
    padding-top: 2rem;
    padding-left: 2rem;
  }
  .midleft{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
  }
  .botleft{
    color: #62627A;
    font-weight: 500;
    font-size: 18px;
  }
  .disclaimer{
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    color: #62627A;
  }