@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;424;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    background-color: #10101D;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    overflow-x: hidden;
  }
  
  a {
    cursor: pointer;
    text-decoration: none;
  }
  .navbar a{
    color: #9894A6;
    font-size: 18px;
    font-weight: 500;
    /* position: relative; */
  }
  .menu a{
    margin-right: 3rem;
  }
  .navbar,
  .herowrapper,
  .companywrapper,
  .features,
  .FAQwrapper,
  .circle-bg-third{
    max-width: 85%;
    margin:auto;
  }
  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.4rem;
  }
  .home{
      color: #9A77EC !important;
  }
  .dashboard{
    color:  #ECE4F9 !important;
  }
  .herowrapper{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
  }
  .topleft{
    color: #9A77EC;
    font-weight: 600;
    font-size: 18px;
  }
  .heroleft{
    margin-left: 9rem;
  }
  .heroright img{
    width: 110%;
  }
  .heroright{
    left: -6rem;
    top: 2rem;
    position: relative;
    z-index: -1;
  }
  .midleft{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    margin: 0px 17rem 0px 0rem;
  }
  .botleft{
    color: #62627A;
    font-weight: 500;
    font-size: 18px;
    margin-top: 0.6rem;
    margin-bottom: 3rem;
    margin-right: 16rem;
  }
  .disclaimer{
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    color: #62627A;
    padding-right: 20rem;
  }
  .soldbttn button{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    background-color: #9A77EC;
    color: #ECE4F9;
    border: none;
    border-radius: 10px;
    border: 1px dashed #ECE4F9;
    text-align: center;
    padding:0.5rem 3.5rem;
  }
  .disclaimer{
    margin-top: 2rem;
  }
  .companywrapper{
    position: relative;
    top: -2.3rem;
  }
  .companywrapper img{
    width: 80%;
    padding-left: 9rem;
  }
  .features{
    display: flex;
    flex-direction: row;
    padding: 0rem 9rem;
    position: relative;
    top: -22rem;
    left: 3rem;
    width: 80%;
  }
  .feature{
    display: flex;
    flex-direction: column;
  }
  .highlight-title{
    color:#E4A0D1;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 0.3rem;
  }
  .title{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0.3rem;
  }
  .featbody{
    padding-right: 5rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #62627A;
  }
  .featbody a{
    color: #9A77EC;
  }
  .bg-circle{
    position: relative;
    top: -12rem;
    left: 0rem;
    z-index: -1;
  }
  .bg-circle img{
    width: 30%;
  }
  #faq{
    margin-top: -10rem;
    padding: 0rem 8rem;
  }
  .gradtitle{
    background: linear-gradient(268.76deg, #E4A0D1 -18.66%, #9A77EC 124.25%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  #fleft{
    background: linear-gradient(268.76deg, #E4A0D1 -18.66%, #9A77EC 124.25%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-weight: 600;
    font-size: 40px;
  }
  .clearfix1{
    margin-bottom: 3rem;
  }
  .accordian-item {
    border: 1px solid #242329;
    background-color: #1E1E2D;
    color: #fff;
    margin: 2rem 0;
    width: 100%;
    padding: 1rem 3rem;
    border-radius: 20px;
}
.accordian-item-header::after {
  content: url("./assets/plus.svg");
  position: absolute;
  right: 1rem;
}
.accordian-item-header.active::after {
  content: url("./assets/minus.svg");
}
.accordian-item-header.active {
  color: rgba(255, 255, 255, 0.5);;
}
.accordian-item-header {
  /* padding: 0.5rem 3rem 0.5rem 2rem; */
  min-height: 2rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color:#FFFFFF;
}
.accordian-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-top: 0.5rem;
  padding-right: 0.5rem;
}
.accordian-item-body-content{
  padding-right: 10rem;
}
.circle-bg-third img{
  width: 33%;
  position: relative;
  right: -49rem;
  top: -13rem;
  z-index: -1;
}

footer{
  display: flex;
  flex-direction: row;
  background: linear-gradient(267.31deg, #9A77EC -5.79%, #E4A0D1 105.06%);
  height: 9rem;
  align-items: center;
  justify-content: center;
  margin-top: -9rem;
}
footer>div{
  margin-right: 2rem;
}
footer>div>a{
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 1100px) {
  .midleft{
    margin: 0px 7rem 0px 0rem;
  }
  .botleft{
    margin-right: 6rem;
    font-size: 16px;
  }
  .soldbttn button{
    padding: 0.5rem 3.0rem;
  }
  .disclaimer{
    padding-right: 10rem;
    font-size: smaller;
  }
  .heroright {
    left: -1rem;
    top: 10rem;
  }
  .companywrapper {
    top: 5rem;
  }
  .features{
    top:-10rem;
    left: 1rem;
    padding: 0rem 5rem;
  }
  .bg-circle{
    top: -3rem;
    left: 1rem;
  }
  .feature{
    margin-right: 1rem;
  }
  .highlight-title{
    font-size: 14px;
  }
  .title{
    font-size: 18px;
  }
  .featbody{
    padding-right: 0rem;
  }
  #faq{
    margin-top: 0rem;
  }
  #fleft{
    font-size: 30px;
  }
  .accordian-item-header{
    font-size: 14px;
  }
  .circle-bg-third img{
    right: -36rem;
    width: 36%;
    top: -13rem;
  }

}