@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;424;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    background-color: #10101D;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    overflow-x: hidden;
  }
  
  a {
    cursor: pointer;
    text-decoration: none;
  }
  .navbar a{
    color: #9894A6;
    font-size: 18px;
    font-weight: 500;
    /* position: relative; */
  }
  .menu a{
    margin-right: 3rem;
  }
  .bodywrapper{
    max-width: 85%;
    margin:auto;
  }
  /* .navbar,
  .herowrapper,
  .companywrapper,
  .features,
  .FAQwrapper,
  .circle-bg-third{
    max-width: 85%;
    margin:auto;
  } */
  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.4rem;
  }
  .home{
      color: #9A77EC !important;
  }
  .dashboard{
    color:  #ECE4F9 !important;
  }
  .herowrapper{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
  }
  .topleft{
    color: #9A77EC;
    font-weight: 600;
    font-size: 18px;
  }
  .heroleft{
    margin-left: 9rem;
  }
  .heroright img{
    width: 110%;
  }
  .heroright{
    left: -6rem;
    top: 6rem;
    position: relative;
    z-index: -1;
  }
  .midleft{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    margin: 1px 39rem 10px 0rem;
  }
  .botleft{
    color: #62627A;
    font-weight: 500;
    font-size: 18px;
    margin-top: 0.6rem;
    margin-bottom: 3rem;
    margin-right: 39rem;
  }
  .disclaimer{
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    color: #62627A;
    padding-right: 45rem;
  }
  .soldbttn button{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    background-color: #9A77EC;
    color: #ECE4F9;
    border: none;
    border-radius: 10px;
    border: 1px dashed #ECE4F9;
    text-align: center;
    padding:0.5rem 3.5rem;
  }
  .disclaimer{
    margin-top: 2rem;
  }
  .companywrapper{
    position: relative;
    top:-2rem;
    padding-left: 8rem;
  }
  .foursm{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
  }
  .foursm>div{
    margin-right: 3rem;
  }
  .threelg{
    display: flex;
    flex-direction: row;

  }
  .threelg>div{
    margin-right: 3.5rem;
  }
  .features{
    display: flex;
    flex-direction: row;
    padding: 0rem 8rem;
    position: relative;
    top: -24rem;
    left: 7rem;
    width: 80%;
  }
  .feature{
    display: flex;
    flex-direction: column;
  }
  .highlight-title{
    color:#E4A0D1;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0.3rem;
  }
  .title{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0.3rem;
  }
  .featbody{
    padding-right: 8rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #62627A;
  }
  .featbody a{
    color: #9A77EC;
  }
  .bg-circle{
    position: relative;
    top: -14rem;
    left: -5rem;

    z-index: -1;
  }
  .bg-circle img{
    width: 30%;
  }
  #faq{
    margin-top: -10rem;
    padding: 0rem 12rem;
  }
  .gradtitle{
    background: linear-gradient(268.76deg, #E4A0D1 -18.66%, #9A77EC 124.25%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  #fleft{
    background: linear-gradient(268.76deg, #E4A0D1 -18.66%, #9A77EC 124.25%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-weight: 600;
    font-size: 40px;
  }
  .clearfix1{
    margin-bottom: 3rem;
  }
  .accordian-item {
    border: 1px solid #242329;
    background-color: #1E1E2D;
    color: #fff;
    margin: 2rem 0;
    width: 100%;
    padding: 1rem 3rem;
    border-radius: 20px;
}
.accordian-item-header::after {
  content: " ";
  background-image: url("./assets/plus.svg");
  background-size: cover;
  width: 20px;
  height: 20px;
}
.accordian-item-header.active::after {
  content: url("./assets/minus.svg");
  background-image: none;
}
.accordian-item-header.active {
  color: rgba(255, 255, 255, 0.5);;
}
.accordian-item-header {
  /* padding: 0.5rem 3rem 0.5rem 2rem; */
  min-height: 2rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color:#FFFFFF;
  justify-content: space-between;
}
.accordian-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-top: 0.5rem;
  padding-right: 0.5rem;
}
.accordian-item-body-content{
  padding-right: 10rem;
}
.circle-bg-third img{
  width: 33%;
  position: relative;
  right: -67rem;
  top: -12rem;
  z-index: -1;
}
.footer{
  background: linear-gradient(267.31deg, #9A77EC -5.79%, #E4A0D1 105.06%);
}
.footertextwrapper{
  padding-left:15%;
  padding-right: 15%;
  display: flex;
  flex-direction: row;
  height: 9rem;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -9rem;
}
footer>div>div{
  margin-right: 2rem;
}
footer>div>div>a{
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 1100px) {
  .heroleft{
    margin-left: 6rem;
  }
  .midleft{
    margin: 0px 4rem 0px 0rem;
  }
  .botleft{
    margin-right: 6rem;
    font-size: 16px;
  }
  .soldbttn button{
    padding: 0.5rem 3.0rem;
  }
  .disclaimer{
    padding-right: 10rem;
    font-size: smaller;
  }
  .heroright {
    left: 3rem;
    top: 9rem;
  }
  .heroright img{
    width: 95%;
  }
  .companywrapper {
    top: 5rem;
    padding-left: 5rem;
    padding-right: 6rem;
  }
  .companywrapper img{
    width: 80%;
  }
  .foursm>div{
    margin-right: 0.5rem;
  }
  .threelg>div {
    margin-right: 0rem;
}
  .features{
    top:-7rem;
    left: 6rem;
    padding: 0rem 0rem;
  }
  .bg-circle{
    top: -1rem;
    left: -4rem;
  }
  .feature{
    margin-right: -1rem;
  }
  .highlight-title{
    font-size: 14px;
  }
  .title{
    font-size: 18px;
  }
  .featbody{
    padding-right: 2rem;
  }
  #faq{
    margin-top: 0rem;
    padding:0px 6rem;
  }
  #fleft{
    font-size: 30px;
  }
  .accordian-item-header{
    font-size: 14px;
  }
  .circle-bg-third img{
    right: -36rem;
    width: 36%;
    top: -12rem;
  }
}
@media (max-width: 768px) {
  .heroleft{
    margin-left: 3rem;
  }
  .topleft{
    font-size: 16px;
  }
  .midleft{
    font-size: 30px;
    margin: 0px 5rem 0px 0rem;
  }
  .botleft{
    font-size: 14px;
    margin-right: 3rem;
  }
  #faq {
    margin-top: 0rem;
    padding: 0px 2rem;
}
  .accordian-item-body-content 
  {
    padding-right: 4rem;
  }
  .circle-bg-third img 
  {
    right: -28rem;
    width: 36%;
    top: -13rem;
  }
  .footertextwrapper {
    padding-left: 9%;
    padding-right: 9%;
  }
  .footertextwrapper>div>a {
    font-size: 12px;
  }
}